$primaryColor1: hsl(0, 78%, 62%);
$primaryColor2: hsl(180, 62%, 55%);
$primaryColor3: hsl(34, 97%, 64%);
$primaryColor4: hsl(212, 86%, 64%);
$neutralColor1: hsl(234, 12%, 34%);
$neutralColor2: hsl(229, 6%, 66%);
$neutralColor3: hsl(0, 0%, 98%);
$fontSize: 1.5rem;
